.btn {
  color: #000000;
  padding: 7px 0 10px;
  width: 200px;
  border: 2px solid #1903b0;
  font-size: 16px;
}
.btn:hover {
  background: #1903b0;
  color: #ffffff;
}

section {
  padding: 50px 0;
}
section.current-block h2:before {
  width: 100%;
}
section h2 {
  font-size: 36px;
  margin: 0;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
section h2:before {
  content: "";
  width: 50px;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: 0;
  background: #1903b0;
  transition: all 0.2s linear;
}

.main-header {
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.main-header.fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
}
.main-header li.nav-item.active a {
  color: #1903b0;
}

.about .heading {
  margin-bottom: 30px;
}
.about p {
  margin: 10px 0 0;
  font-size: 18px;
  line-height: 30px;
}
.about ul {
  margin: 0;
  padding: 0;
}
.about ul li {
  list-style: none;
  padding-left: 15px;
  position: relative;
  font-size: 18px;
  line-height: 30px;
}
.about ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  background: #1903b0;
  margin-top: -1px;
}

.portfolio-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.portfolio-card {
  display: flex;
  align-items: center;
}
.portfolio-card_link {
  flex-basis: 300px;
}
.portfolio-card_info {
  box-sizing: border-box;
  padding-left: 50px;
}
.portfolio-card_info h3 {
  font-size: 24px;
  margin: 0;
  line-height: 1;
}
.portfolio-card_info p {
  font-size: 16px;
  margin: 15px 0 0;
  line-height: 1;
}
.portfolio-card_btn {
  display: flex;
  column-gap: 15px;
  margin-top: 20px;
}

.contact-container {
  margin-top: 30px;
}
.contact-container ul {
  padding: 0;
}
.contact-container ul li {
  list-style: none;
  line-height: 40px;
  font-size: 18px;
}
.contact-container ul li a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.contact-container ul li a:hover {
  color: #1903b0;
  border-color: #1903b0;
}

.main-footer {
  padding: 15px 0;
}
.main-footer p {
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
}

.mfp-content .popup-portfolio_img {
  display: block;
}

.popup-portfolio_img {
  position: relative;
  display: none;
}
.popup-portfolio_img .mfp-close {
  color: #ffffff;
  width: 50px;
  height: 50px;
  right: -7px;
}
.popup-portfolio_img-wrapper {
  text-align: center;
  padding: 50px 0;
}
.popup-portfolio_img img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .portfolio-card {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  .portfolio-card_link {
    flex-basis: auto;
  }
  .portfolio-card_info {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  section {
    padding: 40px 0;
  }
  section h2 {
    font-size: 30px;
    padding-bottom: 7px;
  }

  .about p {
    font-size: 16px;
    line-height: 28px;
  }
  .about ul li {
    font-size: 16px;
    line-height: 28px;
  }

  .portfolio-card_btn {
    column-gap: 10px;
  }

  .popup-portfolio_img {
    overflow: hidden;
    max-height: 100%;
  }
  .popup-portfolio_img-wrapper {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .btn {
    width: 142px;
    padding: 4px 0 6px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
